@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Varela+Round&display=swap");

@font-face {
    font-family: "Super";
    src: url("/font/Supersonic\ Rocketship.ttf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(116, 88, 100);
    background: radial-gradient(
        circle,
        rgb(108, 206, 113) 0%,
        rgb(64, 79, 97) 100%
    );
}

.container-1 {
    margin: 0px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 320px;
    margin-top: 10px;
    padding: 0;
}

.card-container {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: solid 4px white;
    font-family: "Varela Round", sans-serif;
}

header {
    height: 290px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    background-image: url("/img/fondo-header.jpg");
    background-size: cover;
}

.separator {
    height: 2px;
    background-color: #005b93;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator img {
    z-index: 1;
    width: 100%;
    position: relative;
    top: 20px;
}

main {
    background-image: url("/img/fondo-main.png");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    padding-bottom: 20px;
    padding-top: 80px;
    border-radius: 0 0 10px 10px;
    color: white;
}

main .text1 {
    margin-top: 35px;
    padding: 20px 10px 10px 10px;
    font-family: Super;
    font-size: 30px;
}

main .text2 {
    font-size: 30px;
}

main .text3 {
    font-size: 40px;
}

main .text4 {
    padding: 0px 20px;
    font-size: 20px;
}

audio {
    width: 90%;
}

#asistencia {
    margin-top: 10px;
}

.conteo {
    padding: 10px 20px;
}
.conteo #demo {
    font-size: 24px;
}

.conteo #tituloconteo {
    font-size: 20px;
}

footer {
    text-align: center;
}

footer p {
    font-family: "Outfit", sans-serif;
    color: antiquewhite;
    margin-top: 10px;
}
